@import "tailwindcss";
@layer base {
  @font-face {
    font-family: "Montserrat Alternates";
    src: url("/assets/fonts/montserrat-alternates/montserrat-alternates-medium.ttf")
      format("truetype");
  }
}

@theme {
  --font-monserrat: "Montserrat Alternates", sans-serif;
}
@plugin "daisyui" {
  themes: night --default, light --prefersdark;
}
